<div class="row">
  <div class="input-field col s12">
    <input data-ui="input" name="name" type="text" placeholder="Name" class="validate">
  </div>
</div>
<div class="row center-align">
  <button class="btn waves-effect waves-light" type="submit">Add Player</button>
  <button class="btn waves-effect waves-light" data-action="start-game">Start Game</button>
</div>
