<div class="row">
  <form class="col s12">
    <div class="row">
      <div>{{name}}</div>
      <div class="" data-ui="score">

      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="number" class="validate" date-ui="score" data-action="score" placeholder="Score">
      </div>
    </div>
  </form>
</div>
